$blue-color: #2f82ff;
$dark-blue-color: #1a28f1dc;
$yellow-color: #fac80f;
$brand-color: #ec1d23;
$violet-color: #5a31f4;
$green-color: #3c811f;
$redis-color: #f15f6f;
$grey-color: #f8f8f8;
$light-error-color: #fd010169;
$error-color: #ed4337;
$error-secondary-color: #f02f2fd8;
$success-color: #6cc070;
$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;
$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;
}
.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
.btn_outline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $grey-color;
  color: $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error {
  padding: 10px;
  color: $error-color;
}
.success {
  padding: 10px;
  color: $success-color;
}

//--------------Swiper-----------------
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  // overflow: hidden !important;
  cursor: pointer;
  max-width: 50%;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}
.mainSwiper,
.user__swiper,
.flashDeals__swiper,
.offers_swiper {
  max-width: 100%;
  overflow: hidden !important;
  border-radius: 10px !important;
  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1 !important;
  }
  .swiper-pagination-bullet {
    width: 10px !important;
    border-radius: 5px !important;
  }
  .swiper-pagination-bullet-active {
    width: 16px !important;
    background-color: $blue-color !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: #00000055 !important;
    display: none;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
    border-radius: 0 10px 10px 0 !important;
  }
  .swiper-button-next {
    right: -13px;
    border-radius: 10px 0 0 10px !important;
  }
}
.offers_swiper {
  overflow: visible !important;
  max-width: 700px;
  transform: translateX(17%);
  @media (max-width: 990px) {
    transform: translateX(1%);
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    border-radius: 10px !important;
    height: 90% !important;
    margin-top: 0.6rem !important;
    justify-items: center;
    box-shadow: $shadow-1;
    &:hover {
      transform: scale(1.03);
      transition: 0.2s;
    }
    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        background: $brand-color;
      }
      &:last-of-type {
        font-style: italic;
        top: -5px;
        right: 5px;
        background: $redis-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 400;
        box-shadow: $shadow-1;
      }
    }
  }

  .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
  }
  .swiper-pagination {
    display: none;
  }
}
.user__swiper {
  position: relative;
  margin-top: 2rem !important;
  margin-left: 2rem;
  overflow: visible !important;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    img {
      height: 240px !important;
    }
  }
}
.flashDeals__swiper {
  .swiper-slide {
    img {
      border-radius: 0 !important;
      height: 320px !important;
    }
    border-radius: 0px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
  @media (max-width: 450px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: grid !important;
    }
  }
}
//--------------Swiper-----------------
